*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./img/bgc.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.main ul{
    list-style-type: none;
}

.main ul li{
    margin: 1rem;
}

.container{
    height: 70vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.writeup{
    width: 60%;
    height: 50;
}

footer{
    width: 100%;
    height: 50;
}

.foot{
    width: 100%;
    height: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquires{
    margin-left: 2.5rem;
}

.social i{
    margin-right: 1.5rem;
}